<h1>Import Users From Excel</h1>

<p>
Note: Only import spreadsheets that were previously downloaded from this
  application.
</p>

<h3>Requirements</h3>
<ul>
  <li> list the validations you have in place for your model</li>
</ul>

<h5>Select File</h5>
<%= form_for @informations_import do |f| %>
  <% if @informations_import.errors.any? %>
    <%= pluralize(@informations_import.errors.count, "error") %> prevented us from
    importing your spreadsheet. Please update your spreadsheet and try agin.
    <ul>
      <% @informations_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.file_field :file %>
  <%= f.submit "Import File" %>
<% end %>
